<manifest package="cn.finalteam.galleryfinal"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:largeHeap="true"
        >

        <activity
            android:name="cn.yang.galleryfinal.PhotoSelectActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.yang.galleryfinal.PhotoEditActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.yang.galleryfinal.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            />
        <meta-data
            android:name="cn.yang.galleryfinal.model.MyGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>